@page "/test"


<Alert Message="This is an overhead message!" IsVisible="@isAlertVisible" IsVisibleChanged="@((value) => isAlertVisible = value)" />

<button @onclick="ShowAlert">Show Alert</button>

@code {
    private bool isAlertVisible = false;

    private void ShowAlert()
    {
        isAlertVisible = true;
    }
}